<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('../Partials/head'); %>
</head>
<nav>
    <%- include('../Partials/navbar'); %>
</nav>

<body>
    <footer class="footer">
        <%- include('../Partials/footer'); %>
    </footer>
</body>
</html>