@import url('https://fonts.googleapis.com/css?family=Roboto');

html {
    background-color: #f3f3f3f6;
}

.select {
    border:0;
    background-color: #FFC0CB;
}

.navbar {
    background-color: #FFC0CB;
}

.navbar-item {
    background-color: #FFC0CB;
}

.avatar {
    border-radius: 50%;
}

#jumbotron .bouncy-arrow {
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 50%;
    font-size: 3.5em;
    animation: arrow-bounce 2s infinite;
    overflow: hidden
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.guild-icons-horizontal {
    width: 100vw;
    overflow: hidden
}

.guild-icons-horizontal .guilds-wrapper {
    overflow: hidden;
    white-space: nowrap;
    width: 9000px;
    transform: translateX(-50%);
    text-align: center;
    margin-left: 50%;
    padding: 32px
}
