<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('./Partials/head'); %>
</head>
<nav>
    <%- include('./Partials/navbar'); %>
</nav>

<body>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title is-1">
                Termos de Uso da <%= bot.user.username %>
            </h1>
            <h2 class="subtitle is-4">
                Esta Pagina é destinada para escrever nossos termos de uso, para que você possa fazer uso correto do bot e evitar punições.
            </h2>
            <br>
        </div>
        <h2 class="title is-4">
            CONDITIONS
        </h2>
        By using this Discord Bot, accessible from https://zulybot.xyz, you are agreeing to be bound by these Discord Bot Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from using this bot. The materials contained in this Discord Bot are protected by copyright and trade mark law.
        <h2 class="title is-4">
            CHILDREN'S ONLINE PRIVACY PROTECTION ACT
        </h2>
        The Children's Online Privacy Protection Act (“COPPA”) requires that online service providers obtain parental consent before they knowingly collect personally identifiable information online from children who are under thirteen (13). We do not knowingly collect or solicit personally identifiable information from children under sixteen (16); if you are a child under sixteen (16), please do not attempt to register for or otherwise use the Services or send us any personal information. If we learn we have collected personal information from a child under sixteen (16), we will delete that information as quickly as possible. If you believe that a child under sixteen (16) may have provided us personal information, please contact us at <a href="https://discord.gg/pyyyJpw5QW">Support Server</a>.
        <h2 class="title is-4">
            COPYRIGHT
        </h2>
        We respect people's intellectual property and hope that all users will do the same, if you have any copyright complaints, contact us via <a href="https://discord.gg/pyyyJpw5QW">discord</a>.
    </div>
    <footer class="footer">
        <%- include('./Partials/footer'); %>
    </footer>
</body>

</html>