<footer class="footer">
    <script src="/scripts/successCard.js"></script>
    <div class="content has-text-centered">
        <p>
            <strong><%= bot.user.username %></strong> by <a href="https://adgdev.me">ADG</a> © 2021 - <script>
                document.write(new Date().getFullYear());
            </script> — Todos os direitos reservados..
        </p>
    </div>
</footer>