<link rel="stylesheet" href="/styles/bulma.css">
<link rel="icon" href="<%= bot.user.avatarURL %>">
<link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet" />
<link href="/styles/style.css" rel="stylesheet" />
<link href="/styles/toastr.min.css" rel="stylesheet" />
<title><%= bot.user.username %> | Website</title>
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/scripts/main.js"></script>
<script src="/scripts/toastr.min.js"></script>
<meta name="viewport" content="initial-scale=1.0, width=device-width" key="viewport" />
<meta name="keywords" content="Zuly, Discord, Bot, Eris, Free, Anime, NSFW, discord, bots, bot discord, botlist, top.gg, bot, discord bot, robot, zuraaa, bots para discors, discord bots, best, best list, best list online, list, bots, bots do discord, bots of discord, discord bot list, discord server, discord bots add, top.gg, top gg, top, addbot, criar bot do discord, como criar bot do discord, adicionar bot, discord.js, javascript bot, bots para discord, bots in discord, bidlist, bidlist.xyz, star bot, star discord bot, zuly, mudae, zuly bot" />
<meta name="robots" content="follow, index" />
<meta name="theme-color" content="#ffcbdb" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@ZulyBot" />
<meta name="twitter:creator" content="@4DG_YT" />
<meta content="Website da Zuly" property="og:site_name" />
<meta content="Olá! Sou a zuly, um bot brasileiro focado em anime para o público otaku!" property="og:description" />
<meta content="ZulyBot" property="og:title" />
<meta content="600" property="og:ttl" />